<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <title>
        Sam Brass | Climate Change. Clean Energy Finance. Climate Policy.
    </title>
    <meta name="Description " content="SamBrass.com is a blog written by Sam Brass about Climate Change, Clean Energy Finance & Climate Policy. Sam lives in Melbourne, works in Banking, finances renewable energy projects, is an Actuary, a programmer and trys to work out how we can do more to limit Climate Change.">
    <meta property="og:title" content="Sam Brass | Climate Change. Clean Energy Finance. Climate Policy.">
    <meta property="og:description" content="SamBrass.com is a blog written by Sam Brass about Climate Change, Clean Energy Finance & Climate Policy. Sam lives in Melbourne, works in Banking, finances renewable energy projects, is an Actuary, a programmer and trys to work out how we can do more to limit Climate Change.">
    <meta property="og:image" content="http://www.sambrass.com/images/meta_image.png">
    <meta property="og:url" content="http://www.sambrass.com">
    <meta name="twitter:card" content="summary_large_image">
</head>

<body>

    <!-- Headings -->


    <div class='blog_heading_wrapper'>
        Sam Brass
        <br>
        <div class='blog_sub_heading'>
            <div class='small_screen'>
                <br>Climate Change<br>Clean Energy Finance<br>Climate Policy
            </div>
            <div class='big_screen'>
                Climate Change. Clean Energy Finance. Climate Policy.
            </div>
        </div>
    </div>

    <!-- Blurb -->

    <div class='blurb_wrapper'>
        I'm from Tasmania, Australia. I live in Melbourne. I work in Banking. I finance renewable energy projects. I’m an Actuary. I'm a programmer. I try to work out how we can do more to limit Climate Change. I present data on these things here in this blog.
    <br><br>
        You can find me on <a href='https://www.linkedin.com/in/sam-brass-a8020b57/'>LinkedIn</a>.
   </div>

    <!-- Content -->

    <!-- Story One: ... -->

    <div class='homepage_story' onclick='location.href="/marginal_loss_factors";'>

        <h1>Marginal Loss Factors</h1>
        <h3>April 2019</h3>
        <p>
            This dynamic marginal loss factor visualisation explores the impact of new generators on loss factors.
        </p>

    </div>

    <div class='blurb_wrapper'>

        <p>
            More to come.
        </p>

    </div>

</body>

</html>