<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
    <title>
        Sam Brass | Climate Change. Clean Energy Finance. Climate Policy.
    </title>
</head>

<body>
    <h1>Marginal Loss Factors</h1>
    <h3>April 2019</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div id="marginal_loss_factor_map"></div>        
    <script>
        function initMap() {
            var map = new google.maps.Map(
                document.getElementById('marginal_loss_factor_map'), { 
                    zoom: 5, 
                    center: { lat: -25.344, lng: 131.036 }, 
                    controlSize: 28,
                    streetViewControl: false
                });

            $.ajax({
                method: "POST",
                url: "/marginal_loss_factor_data",
            })

            .done(function(grid_map_ref_browser) {

                for (transmission_line=0;transmission_line<grid_map_ref_browser.transmission.length;transmission_line++) {

                    var grid_polyline = new google.maps.Polyline(grid_map_ref_browser.transmission[transmission_line])

                    grid_polyline.addListener('click', function() { 
                        inspect('t', this.id)
                    })

                    grid_polyline.setMap(map)
                }
            });
        }
    </script>
    <div id='inspection_output'>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>

    
    </body> 
    <script src = "/javascripts/jquery.js"></script>
    <script src = "/javascripts/marginal_loss_factor.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDx_zDP0vPmBUZ3VYSjuj6aaj1F3o_DPyk&callback=initMap" type="text/javascript"></script>
</html>