/* General Styles */

body {
  padding: 50px;
  font-size: 16px;
  line-height:22pt;
  font-family: 'Source Sans Pro', sans-serif;
  color:#202121;
  max-width:1200px;
  margin:0px;
}

@media (min-width: 1200px) {

	body {
		margin: 0 auto 0 auto;
		position: relative;
	}
}

@media (max-width: 980px) {
	body {
		padding:15px;
	}
	.big_screen {
		display:none;
	}
}

@media (min-width: 980px) {
	.small_screen {
		display:none;
	}

	body {
		text-align: justify;
	}
}

a {
  color: #00B7FF;
}

.blurb_wrapper {
	margin-top:50px;
}

@media (max-width: 980px) {
	.blurb_wrapper {
		margin-top:15px;
	}
}

.homepage_story {
	margin-top:50px;
	padding:50px;
	background-color:#f2f2f2;
}

.homepage_story:hover {
	background-color:#d9d9d9;
	cursor: pointer;
}

@media (max-width: 980px) {
	.homepage_story {
		margin-top:15px;
		padding:15px;
	}
}

.homepage_story h3 {
	
}

.loading_wheel {
	display: block;
  	margin: 0px auto 0px auto;
}

.footer_wrapper {
	padding:15px;
	text-decoration: underline;
	text-align:right;
	background-color: #f2f2f2;
	color: #202121;
}

.footer_wrapper:hover {
	background-color:#e6e6e6;
}

.a_no_underline {
	text-decoration: none;
}

table {
	text-align:center;
	font-size:10pt;
	margin: 15px auto 15px auto;
}

th, td {
	padding:0px 15px 0px 15px;
	border-width:2px;
	border-color:#ffffff;
}

th {
	background-color:#e6e6e6;
	font-weight:normal;
}

tr {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #e6e6e6;
}

/* Special Styles (one-off uses) */

.blog_heading_wrapper {
	padding:50px;
	font-size:72pt;
	line-height: 72pt;
	font-weight:700;
	background-color:#b3ffe0;
	color:#808080;
}

@media (max-width: 980px) {
	.blog_heading_wrapper {
		padding:15px;
	}
}

.blog_sub_heading {
	font-size:22pt;
	font-weight:300;
	line-height: 28pt
}

/* Page Specific Styles */

#marginal_loss_factor_map {
	height: 600px;
    width: 100%; 
}

#loading_wheel_wrapper {
	height: 600px;
    width: 100%; 
}

#marginal_loss_factor_legend {
	width:100%;
	display:block;
	overflow:auto;
	font-size:10pt;
	margin-top:15px;
	text-align:center;
}

#marginal_loss_factor_legend div {
	width:50%;
	display:inline-block;
	float:left;
}

#marginal_loss_factor_legend table td, #marginal_loss_factor_legend table th {
	width:120px;
}

@media (max-width: 700px) {
	table {
		width:100%;
	}
	#marginal_loss_factor_legend div {
		width:100%;
	}
}

.control_text {
	-webkit-user-select: none;      
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

